<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% if CLAIM_GOOGLE %}
		{% include '_includes/claim_google.html' with context %}
		{% endif %}
		{% if CLAIM_BING %}
		{% include '_includes/claim_bing.html' with context %}

		{% endif %}
		{% if article and article.author %}
		<meta name="author" content="{{ article.author }}" />
		{% elif page and page.author %}
		<meta name="author" content="{{ page.author }}" />
		{% else %}
		<meta name="author" content="{{ AUTHOR }}" />
		{% endif %}

		{% from '_includes/_defaults.html' import SITE_DESCRIPTION with context %}
		{% if SITE_DESCRIPTION %}
		<meta name="description" content="{% block head_description %}{{ SITE_DESCRIPTION|e }}{% endblock head_description %}" />
		{% endif %}
		{% block meta_tags_in_head %}
		{% from '_includes/_defaults.html' import TWITTER_USERNAME with context %}
		{%if TWITTER_USERNAME %}
		<meta name="twitter:creator" content="@{{TWITTER_USERNAME}}">
		{% endif %}
		<meta property="og:type" content="article" />
		<meta name="twitter:card" content="summary">
		{% endblock meta_tags_in_head %}

		<title>{% block title %}{{ SITENAME|striptags|e }}{% endblock title %}</title>

		{% block head_links %}
		<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" media="screen">
		{% if 'assets' in PLUGINS %}
		{% include '_includes/minify_css.html' with context %}
		{% else %}
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/elegant.prod.css" media="screen">
		<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/custom.css" media="screen">
		{% endif %}
		{% endblock head_links %}
		{% include '_includes/favicon_links.html' %}
		{% block feed_links %}
		{% include '_includes/feeds.html' %}
		{% endblock feed_links %}
		{% include '_includes/analytics.html' %}

		{% if page and page.custom_css %}
			{% set cssLinks = page.custom_css.split(', ') %}
		{% elif article and article.custom_css %}
			{% set cssLinks = article.custom_css.split(', ') %}
		{% else %}
			{% set cssLinks = "" %}
		{% endif %}
		{% for cssLink in cssLinks %}
		<link rel="stylesheet" type="text/css" href="/css/{{ cssLink }}" media="screen"></link>
		{% endfor %}
	</head>
	<body>
		{% from '_includes/_defaults.html' import TAGS_URL, CATEGORIES_URL, ARCHIVES_URL, SEARCH_URL with context %}
		<div id="content">
			<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="{{ SITEURL }}/">{{ SITENAME }}</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mr-auto">
						<li {% if page_name == 'categories' %} class="nav-item active"{% else %} class="nav-item" {% endif %}>
							<a class="nav-link" href="{{ SITEURL }}/{{ CATEGORIES_URL }}">Categories</a>
						</li>

						{% if DISPLAY_PAGES_ON_MENU %}
						{% for p in pages %}
						<li {% if p == page %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
							<a class="nav-link" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
						</li>
						{% endfor %}
						{% endif %}
					</ul>
					<!-- <form class="form-inline my-2 my-lg-0" action="{{ SITEURL }}/{{ SEARCH_URL }}" onsubmit="return validateForm(this.elements['q'].value);">
						<input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search" name="q" id="tipue_search_input">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go !</button>
					</form-->
				</div>
			</nav>
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="col-10 offset-1">
						{% block content %}
						{% endblock content %}
					</div>
				</div>
			</div>
		</div>
		{% include '_includes/footer.html' %}

		{% block script %}

		{% for jsScript in jsScripts %}
		<script src="/scripts/{{ jsScript }}" type="text/javascript"></script>
		{% endfor %}

		{% if AMAZON_BESTAZON %}
		{% include '_includes/bestazon.html' %}
		{% endif %}
		<script src="/scripts/jquery-3.7.1.js" type="text/javascript"></script>
		<script src="/scripts/bootstrap.bundle.min.js" type="text/javascript"></script>

		{% if page and page.custom_scripts %}
			{% set jsScripts = page.custom_scripts.split(', ') %}
		{% elif article and article.custom_scripts %}
			{% set jsScripts = article.custom_scripts.split(', ') %}
		{% else %}
			{% set jsScripts = "" %}
		{% endif %}
		{% for jsScript in jsScripts %}
		<script src="/scripts/{{ jsScript }}" type="text/javascript"></script>
		{% endfor %}

		<script>
			function validateForm(query)
			{
				return (query.length > 0);
			}
		</script>
		<script>
			(function (s, e, n, d, er) {
				s['Sender'] = er;
				s[er] = s[er] || function () {
					(s[er].q = s[er].q || []).push(arguments)
				}, s[er].l = 1 * new Date();
				var a = e.createElement(n),
					m = e.getElementsByTagName(n)[0];
				a.async = 1;
				a.src = d;
				m.parentNode.insertBefore(a, m)
			})(window, document, 'script', 'https://cdn.sender.net/accounts_resources/universal.js', 'sender');
			sender('9c84870f164227')
		</script>
		{% endblock script %}
		{% include '_includes/stat_counter.html' %}
	</body>
	<!-- Theme: Elegant built for Pelican
		License : MIT -->
</html>
