{% extends 'base.html' %}

{% block title %}
{{ page.title|striptags|e }} {%if page.subtitle %} - {{ page.subtitle|striptags|e }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if page.summary %}
{{ page.summary|striptags|e }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{{ super() }}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}" />
{% endif %}

{% from '_includes/smo_metadata.html' import smo_metadata with context %}
{{ smo_metadata(page) }}
{% endblock meta_tags_in_head %}

{% block content %}
<article class="container-fluid">
	<div class="row">
		<header class="page-header span10 offset2">
			<h1><a href="{{ SITEURL }}/{{ page.url }}"> {{ page.title }} {%if page.subtitle %} <small> {{ page.subtitle }} </small> {% endif %} </a></h1>
		</header>
	</div>

	<div class="row">
		{% if page.toc %}
		<div class="col-md-3 table-of-content">
			<nav>
				<h4>Contents</h4>
				{{ page.toc }}
			</nav>
		</div>
		{% endif %}
		<div class="col-12 col-xl-9 article-content">
			{{ page.content }}
			{% from '_includes/comments.html' import comments_section with context %}
			{{ comments_section(page) }}
		</div>
		<section id="page-sidebar" class="col-12 col-xl-3">
			<div class="sender-form-field col-sm-auto" data-sender-form-id="m69gy7psaad1g9bcvba"></div>
		</section>
	</div>
</article>
{% endblock content %}

{% block script %}
{{ super() }}
{% from '_includes/comments.html' import comments_script with context %}
{{ comments_script() }}

{% if page.custom_scripts %}
{% set jsScripts = page.custom_scripts.split(', ') %}
{% for jsScript in jsScripts %}
<script src="/scripts/{{ jsScript }}" type="text/javascript"></script>
{% endfor %}
{% endif %}
{% endblock script %}
