{% extends 'base.html' %}

{% block title %}{{ page.title|striptags|e }} · {{ SITENAME|striptags|e }}{% endblock %}

{% block meta %}
{% if page.summary %}<meta name="description" content="{{ page.summary|striptags|e }}">{% endif %}
<meta property="og:title" content="{{ page.title|striptags|e }}">
<meta property="og:url" content="{{ SITEURL }}/{{ page.url }}">
{% if page.summary %}<meta property="og:description" content="{{ page.summary|striptags|e }}">{% endif %}
<meta property="og:site_name" content="{{ SITENAME|striptags|e }}">
<meta property="og:type" content="website">
{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <div class="page-content clearfix">
    {{ page.content }}
  </div>
</article>
{% endblock %}
